html,
body,
h1,
h2,
h3,
ul,
li,
ol,
p,
img,
input,
button,
table {
    padding: 0;
    margin: 0;
}


/*顶部*/

#top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 64px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 60;
}

#logo {
    width: 60px;
}

#logo a {
    display: block;
    width: 60px;
}

#logo img {
    height: 54px;
}

.left {
    float: left;
}

.right {
    float: right;
}

#menu {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 10px;
    top: 10px;
    list-style-type: none;
    z-index: 70;
}

#menu li {
    float: left;
    margin: 0px 10px 0 0;
    font-size: 14px;
}

#menu a {
    float: left;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    text-decoration: none;
}

#menu .active a {
    color: #fff;
    background-color: #333;
}


/*第一栏*/

#first .f1 {
    margin: 0 auto;
    color: #fff;
    display: table;
}

#first .phote {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#first .photo a {
    width: 180px;
    height: 180px;
    /* display: block;*/
    margin-right: 10px;
    transition: all 0.2s linear;
}

#first .photo img {
    border: 1px solid #fff;
    border-radius: 50%;
    /*display: block;*/
    width: 180px;
    height: 180px;
    margin-right: 10px;
}

#first .photo a :hover {
    transition: all 0.2s linear;
    box-shadow: 0 0 15px 5px #cccccc;
}

#first .photo p {
    font-size: 30px;
    text-align: center;
    margin-right: 10px;
}

#first .info {
    display: table-cell;
    vertical-align: middle;
}

#first .info p {
    font-size: 20px;
    margin-left: 10px;
}


/* 第二栏 */

#second .box {
    width: 100%;
    padding: 0px 8%;
    margin-top: 50px;
    visibility: hidden;
}

#second .box a {
    font: 16px/25px "microsoft yahei";
    background-color: rgba(234, 246, 208, 0.9);
    border-radius: 10px;
    margin: 7px;
    padding: 5px 15% 5px 10px;
    color: #336699;
    display: inline-block;
    text-decoration: none;
}

#second .box p:nth-child(2n) a {
    background-color: rgba(234, 246, 180, 0.9);
}


/* 第三栏 */


/* 第四栏 */


/* 第五栏 */